div {
  width: 20%
  margin: auto;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 40px;
  list-style: none;
}
button{
  padding: 10px;
}

input {
  padding: 10px;
  display: inline-block;
  margin-left: 40px;
}
